$color: red;

div {
    font-size: 18px;

    p {
        color: blue;
    }

    ul {
        color: green;
    }
}

ul {
    font-size:18px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}